
p {
  opacity:.7
}

#sandbox {
  margin-top:100px;
}

#vis {
  margin-top: 100px;
}


.axis line, .axis path {
  fill: none;
  stroke: #000;
}

.title {
	text-anchor:middle;
}

.axis text {
  font-size:10px;
}

.bar {
  opacity:.4;
}

#intro h1 {
	margin: 0;
}

#intro h4, #intro h1 {
	line-height: 1.20em;
}

div.tooltip {	/* Styles taken from a tp, feel free to change as you wish */
    position: absolute;			
    text-align: center;			
    width: 60px;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

.overlay {
    opacity: 0;
}

circle,
path {
  pointer-events: none;
}

.hover-text {
  text-shadow: 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white;
}
