#sections {
  position: relative;
  display: inline-block;
  width: 350px;
  top: 0px;
  z-index: 90;
}

.step {
  margin-bottom: 250px;
}

#vis {
  display: inline-block;
  position: fixed;
  top: 720px;
  left: 600px !important;
  z-index: 1;
  margin-left: 0;
  height: 600px;
  width: 600px;
}

.step:last-child {
  margin-bottom:calc(100vh - 450px);
}
